/*template*/

body{
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}

/*home/category auction card*/

.figure-img.img-fluid.category{
  width: 200px;
  height: 200px;
}

/*header*/
header {
  background-color: rgb(129, 0, 0);
}

#logo {
  margin: 0;
  color:white;
  font-size:25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

header .container .text-end button{
  color:#070707;
  background-color:rgb(200, 194, 194);
  border-color: rgb(200, 194, 194);
}

header .container .text-end button:hover{
  color:#070707;
  background-color:rgb(115, 112, 112);
  border-color: rgb(115, 112, 112);
}

.dropdown-menu li a:hover{
  background-color:rgb(215, 211, 211);
  border-color: rgb(215, 211, 211);
}

/*form bootstrap*/

.form-check-input:checked{
  background-color: rgb(129, 0, 0);
  border-color: rgb(129, 0, 0);
}

.close {
  color:#8f8e8e;
  position: absolute;
  top: 0;
  right: 0;
  padding-bottom: 20px;
  padding-right: 20px;
  margin:0;
}

.btn-close:focus {
  outline: none;
  box-shadow: none;
}


/*footer*/

footer {
  margin-top: auto;
  background-color: rgb(129, 0, 0);
}

footer ul .nav-item .nav-link{
  color:white;
}

footer ul .nav-item .nav-link:hover{
  color:white;
  transform: scale(1.10);
}


header .container ul a{
  color:white;
}

/*navbar with categories*/

#categories{
  background-color: #dfdede;
  border: 1px solid rgb(129, 0, 0);
} 

#categories li a{
  color:black;
}

#categories li a:hover{
  color:rgb(32, 31, 31);
  transform: scale(1.05);
}

/*buttons*/

.btn-primary, .btn-primary:visited {
    background-color: rgb(129, 0, 0) !important;
    border-color:rgb(129, 0, 0) !important;
}

.btn-primary:hover, .btn-primary:active{
  background-color:rgb(88, 1, 1) !important;
  border-color:rgb(88, 1, 1) !important;
}

a{
  color:rgb(129, 0, 0);
  text-decoration: none;
}

a:hover{
  color:rgb(88, 1, 1) !important;
  transform: scale(1.05);
}

a:active{
  color:rgb(88, 1, 1) !important;
}

/*tables */

tbody td a{
  color:rgb(129, 0, 0);
  text-decoration: none;
}

tbody td a:hover{
  color:rgb(88, 1, 1) !important;
  transform: scale(1.05);
}

tbody td a:active{
  color:rgb(88, 1, 1) !important;
}

/*watch*/

#unwatchForm{
  display: none;
}


/*profile*/

button svg {
  fill:rgb(222, 217, 217); 
}

/*auction page*/

.d-flex.auction{
  gap:20px;
}

/*card help*/

.help a{
    color:#8f8e8e;
    position: absolute;
    top: 0;
    right: 0;
}

.help a:hover, .help a:active{
  color:#797878;
}


::placeholder {
  color: white;
  opacity: 1;
}

.second-header {
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: #dfdede;
}

.category {
  font-size: 20px;
}

.category:hover {
  color: #606060;
  transform: scale(1.05);
}

hr {
  border: 1px solid rgb(129, 0, 0);
  width: 90%;
  margin: 0 auto;
}

/*card deck*/

/*.col-lg-4{
  flex: 0 0 auto;
  width: 25%;
}*/

