openapi: 3.0.0

info:
 version: '1.0'
 title: 'LBAW Online Auctions Web API'
 description: 'Web Resources Specification (A7) for Online Auctions'

servers:
- url: http://lbaw.fe.up.pt
 description: Production server

externalDocs:
 description: Find more info here.
 url: https://git.fe.up.pt/lbaw/lbaw2223/lbaw22132/-/wikis/eap#a7-web-resources-specification

tags:
 - name: 'M01: Authentication and Individual Profile'
 - name: 'M02: Works'
 - name: 'M03: Reviews and Wish list'
 - name: 'M04: Auctions'
 - name: 'M05: User and Auction Administration and Static pages'

paths:
 /login:
   get:
     operationId: R101
     summary: 'R101: Login Form'
     description: 'Provide login form. Access: PUB'
     tags:
       - 'M01: Authentication and Individual Profile'
     responses:
       '200':
         description: 'Ok. Show Log-in UI'
   post:
     operationId: R102
     summary: 'R102: Login Action'
     description: 'Processes the login form submission. Access: PUB'
     tags:
       - 'M01: Authentication and Individual Profile'

     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               email:          # <!--- form field name
                 type: string
               password:    # <!--- form field name
                 type: string
             required:
                  - email
                  - password

     responses:
       '302':
         description: 'Redirect after processing the login credentials.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful authentication. Redirect to user profile.'
                 value: '/users/{id}'
               302Error:
                 description: 'Failed authentication. Redirect to login form.'
                 value: '/login'

 /logout:

   post:
     operationId: R103
     summary: 'R103: Logout Action'
     description: 'Logout the current authenticated user. Access: USR, MAN'
     tags:
       - 'M01: Authentication and Individual Profile'
     responses:
       '302':
         description: 'Redirect after processing logout.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful logout. Redirect to h form.'
                 value: '/home'

 /register:
   get:
     operationId: R104
     summary: 'R104: Register Form'
     description: 'Provide new user registration form. Access: PUB'
     tags:
       - 'M01: Authentication and Individual Profile'
     responses:
       '200':
         description: 'Ok. Show Sign-Up UI'

   post:
     operationId: R105
     summary: 'R105: Register Action'
     description: 'Processes the new user registration form submission. Access: PUB'
     tags:
       - 'M01: Authentication and Individual Profile'

     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               name:
                 type: string
               email:
                 type: string
               picture:
                 type: string
                 format: binary
             required:
                                    - email
                                   - password

     responses:
       '302':
         description: 'Redirect after processing the new user information.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful authentication. Redirect to user profile.'
                 value: '/users/{id}'
               302Failure:
                 description: 'Failed authentication. Redirect to login form.'
                 value: '/login'

 /users/{id}:
   get:
     operationId: R106
     summary: 'R106: View user profile'
     description: 'Show the individual user profile. Access: USR'
     tags:
       - 'M01: Authentication and Individual Profile'

     parameters:
       - in: path
         name: id
         schema:
           type: integer
         required: true

     responses:
       '200':
         description: 'Ok. Show User Profile UI'
 

/api/works:
   get:
     operationId: R202
     summary: 'R202: Search Works API'
     description: 'Searches for works and returns the results as JSON. Access: PUB.'

     tags:
       - 'M02: Works'

     parameters:
       - in: query
         name: query
         description: String to use for full-text search
         schema:
           type: string
         required: false
       - in: query
         name: name
         description: Name of the item
         schema:
           type: string
         required: false
       - in: query
         name: description
         description: Description of the auction
         schema:
           type: string
         required: false

     responses:
       '200':
         description: Success
         content:
           application/json:
             schema:
               type: array
               items:
                 type: object
                 properties:
                   id:
                     type: string
                   name:
                     type: string
                   description:
                     type: string
               example:
                 - id: 1
                   name: Rihanna Vinyl 
                   description: Good pop music album.
                 - id: 2
                   name: Mr. Bean Movie DVD
                   description: Very funny movie.
/api/reviews:
     get:
     operationId: R301
     summary: 'R301: Search Reviews API'
     description: 'Searches for Reviews and returns the results as JSON. Access: USR.'

     tags: 'M03: Reviews and Wishlists'

     parameters:
       - in: query
         name: query
         description: String to use for full-text search
         schema:
           type: string
         required: false
       - in: query
         name: author
         description: Name of the author
         schema:
           type: string
         required: false
       - in: query
         name: description
         description: Description of the review
         schema:
           type: string
         required: false

     responses:
       '200':
         description: Success
         content:
           application/json:
             schema:
               type: array
               items:
                 type: object
                 properties:
                   id:
                     type: string
                   author:
                     type: string
                   comment:
                     type: string
               example:
                 - id: 1
                   author: John Doe 
                   comment: Very good auctioneer, item conditions as described.
                 - id: 2
                   author: Mr. Bean
                   comment: Good bidder, easy to contact.

     post:
     operationId: R302
     summary: 'R105: Add item to watchlist Action'
     description: 'Add item to watchlist. Access: USR'
     tags:
       - 'M03: Reviews and Wishlists'

     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               id:
                 type: string
               name:
                 type: string
             required:
                -name
     responses:
       '302':
         description: 'Redirect after updating the watchlist.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful update!'
                 value: '/users/{id}'
               302Failure:
                 description: 'Failed update.'
                 value: '/users/{id}'

