openapi: "3.0.0"

info:
  version: "1.0"
  title: "LBAW Online Auctions Web API"
  description: "Web Resources Specification (A7) for Online Auctions"

servers:
  - url: http://lbaw.fe.up.pt
    description: "production server"

externalDocs:
  description: Find more info here.
  url: https://git.fe.up.pt/lbaw/lbaw2223/lbaw22132/-/wikis/eap#a7-web-resources-specification

tags:
  - name: "M01: Authentication and Individual Profile"
  - name: "M02: Items"
  - name: "M03: Reviews and Watchlist"
  - name: "M04: Auctions"
  - name: "M05: User and Auction Administration and Static pages"

paths:
  /login:
    get:
      operationId: R101
      summary: "R101: Login Form"
      description: "Provide login form. Access: PUB"
      tags:
        - "M01: Authentication and Individual Profile"
      responses:
        "200":
          description: "Ok. Show Log-in UI"
    post:
      operationId: R102
      summary: "R102: Login Action"
      description: "Processes the login form submission. Access: PUB"
      tags:
        - "M01: Authentication and Individual Profile"

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email: # <!--- form field name
                  type: string
                password: # <!--- form field name
                  type: string
              required:
                - email
                - password

      responses:
        "302":
          description: "Redirect after processing the login credentials."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful authentication. Redirect to user profile."
                  value: "/users/{id}"
                302Error:
                  description: "Failed authentication. Redirect to login form."
                  value: "/login"

  /logout:
    post:
      operationId: R103
      summary: "R103: Logout Action"
      description: "Logout the current authenticated user. Access: USR, MAN"
      tags:
        - "M01: Authentication and Individual Profile"
      responses:
        "302":
          description: "Redirect after processing logout."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful logout. Redirect to h form."
                  value: "/home"

  /register:
    get:
      operationId: R104
      summary: "R104: Register Form"
      description: "Provide new user registration form. Access: PUB"
      tags:
        - "M01: Authentication and Individual Profile"
      responses:
        "200":
          description: "Ok. Show Sign-Up UI"

    post:
      operationId: R105
      summary: "R105: Register Action"
      description: "Processes the new user registration form submission. Access: PUB"
      tags:
        - "M01: Authentication and Individual Profile"

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                picture:
                  type: string
                  format: binary
              required:
                - email
                - password

      responses:
        "302":
          description: "Redirect after processing the new user information."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful authentication. Redirect to user profile."
                  value: "/users/{id}"
                302Failure:
                  description: "Failed authentication. Redirect to login form."
                  value: "/login"

  /user/{id}:
    get:
      operationId: R106
      summary: "R106: View user profile"
      description: "Show the individual user profile, will show a form is user is in its own profile. Access: USR"
      tags:
        - "M01: Authentication and Individual Profile"

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Ok. Show User Profile UI02"
    
  /user/{id}/edit:
    put:
      operationId: R107
      summary: "R107: Edit user profile Action"
      description: "Edit the individual user profile. Access: USR"
      tags:
        - "M01: Authentication and Individual Profile"

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                username:
                  type: string
                password:
                  type: string
      responses:
        "200":
          description: "Ok. Edit User Profile UI02"

  /items/{id}:
    get:
      operationId: R201
      summary: "R201: View item page"
      description: "Show the item page. Access: USR"
      tags:
        - "M02: Items"

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Ok. Show Item Page UI"

  /api/items:
    get:
      operationId: R202
      summary: "R202: Search Works API"
      description: "Searches for items and returns the results as JSON. Access: PUB."

      tags:
        - "M02: Items"

      parameters:
        - in: query
          name: query
          description: String to use for full-text search
          schema:
            type: string
          required: false
        - in: query
          name: name
          description: Name of the item
          schema:
            type: string
          required: false
        - in: query
          name: description
          description: Description of the auction
          schema:
            type: string
          required: false

      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    description:
                      type: string
                example:
                  - id: 1
                    name: Rihanna Vinyl
                    description: Good pop music album.
                  - id: 2
                    name: Mr. Bean Movie DVD
                    description: Very funny movie.
                  
  /api/reviews:
    get:
      operationId: R301
      summary: "R301: Search Reviews API"
      description: "Searches for Reviews and returns the results as JSON. Access: USR."

      tags:
        - "M03: Reviews and Watchlist"

      parameters:
        - in: query
          name: query
          description: String to use for full-text search
          schema:
            type: string
          required: false
        - in: query
          name: author
          description: Name of the author
          schema:
            type: string
          required: false
        - in: query
          name: description
          description: Description of the review
          schema:
            type: string
          required: false

      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    author:
                      type: string
                    comment:
                      type: string
                example:
                  - id: 1
                    author: John Doe
                    comment: Very good auctioneer, item conditions as described.
                  - id: 2
                    author: Mr. Bean
                    comment: Good bidder, easy to contact.

  /watchlist/{id}:
    get:
      operationId: R302
      summary: "R302: View User watchlist Page"
      description: "Show the individual user watchlist page. Access: PUB"
      tags:
        - "M03: Reviews and Watchlist"

      parameters:
        - in: path
          name: id_bidder
          schema:
            type: integer
          required: true
        - in: path
          name: id_auction
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Ok. Show User watchlist page UI"

  /watchlist/{id}/add:
    put:
      operationId: R303
      summary: "R303: Add auction to watchlist Action"
      description: "Add auction to watchlist. Access: USR"
      tags:
        - "M03: Reviews and Watchlist"

      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id_auction: # <!--- form field name
                  type: integer
                id_bidder:
                  type: integer
              required:
                - id_bidder
                - id_auction

      responses:
        "302":
          description: "Redirect after updating the watchlist."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful update!"
                  value: "/watchlist/{id_bidder}"
                302Failure:
                  description: "Failed update."
                  value: "/watchlist/{id_bidder}"

  /watchlist/{id}/delete:
    delete:
      operationId: R304
      summary: "R304: Delete auction from watchlist"
      description: "Delete auction from watchlist. Access: AUC"
      tags:
        - "M03: Reviews and Watchlist"
      
      parameters:
        - in: path
          name: id_bidder
          schema:
            type: integer
          required: true
        - in: path
          name: id_auction
          schema:
            type: integer
          required: true
          
      responses:
        '302':
          description: 'Redirect after auction removal from watchlist.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Auction Removed! Redirect to watchlist'
                  value: '/watchlist/{id_bidder}'
                302Failure:
                  description: 'Failed to remove auction. Redirect to watchlist'
                  value: '/watchlist/{id_bidder}'

  /auction/{id}:
    get:
      operationId: R401
      summary: "R401: View Auction Page"
      description: "Show the individual auction page. Access: PUB"
      tags:
        - "M04: Auctions"

      parameters:
        - in: path
          name: id_auction
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Ok. Show Auction Page UI"
  

  /auction/{id}/bid:
    put:
      operationId: R402
      summary: "R402: Make a Bid"
      description: "Update current auction bid. Access: BID"
      tags:
        - "M04: Auctions"

      parameters:
        - in: path
          name: id_auction
          schema:
            type: integer
          required: true
        - in: path
          name: bid_value
          schema:
            type: number
          required: true

      responses:
        "302":
          description: "Redirect after bidding."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful update!"
                  value: "/auction/{id}"
                302Failure:
                  description: "Failed update."
                  value: "/auction/{id}"
  
  /auction/new:
    get:
      operationId: R403
      summary: 'R403: Show Auction Form'
      description: 'Show Auction Creation Form. Access: AUC'
      tags:
        - 'M04: Auctions'
      responses:
        '200':
          description: 'Show the Form'
   
    post:
       operationId: R404
       summary: 'R404: Create Auction'
       description: 'Create Auction. Access: AUC'
       tags:
        - 'M04: Auctions'

       requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                auction_name:
                  type: string
                description:
                  type: string
                starting_bid:
                  type: string

       responses:
          '200':
            description: 'Create Auction'

  /auction/{id}/edit:
    put:
      operationId: R405
      summary: "R405: Edit Auction Page"
      description: "Edit Auction page. Access: AUC,MAN"
      tags:
        - "M04: Auctions"
      
      parameters:
        - in: path
          name: id_auction
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                auction_name:
                  type: string
                description:
                  type: string
                starting_bid:
                  type: string
                ongoing:
                  type: boolean
                ending_date:
                  type: string
                id_item:
                  type: integer

      responses:
        '302':
          description: 'Redirect after auction edit.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Auction Edit! Redirect to Auction page'
                  value: '/auction/{id}'
                302Failure:
                  description: 'Failed to edit auction. Redirect to auction page'
                  value: '/auction/{id}'
    
  /manager/{id}:
    get:
      operationId: R501
      summary: "R501: View Manager profile"
      description: "Show the individual user profile. Access: MAN"
      tags:
        - "M05: User and Auction Administration and Static pages"

      parameters:
        - in: path
          name: id_manager
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Ok. Show Manager Profile UI"

  /:
    get:
      operationId: R502
      summary: "R502: View homepage"
      description: "Show Homepage. Access: PUB"
      tags:
        - "M05: User and Auction Administration and Static pages"

      responses:
        "200":
          description: "Ok. Show Homepage UI01"
    
  /FAQ:

    get:
      operationId: R503
      summary: "R503: View FAQ"
      description: "Show FAQ. Access: PUB"
      tags:
        - "M05: User and Auction Administration and Static pages"

      responses:
        "200":
          description: "Ok. Show FAQ UI"    

  /about:

    get:
      operationId: R504
      summary: "R504: View About"
      description: "Show About. Access: PUB"
      tags:
        - "M05: User and Auction Administration and Static pages"

      responses:
        "200":
          description: "Ok. Show About UI"  

  /contacts:

    get:
      operationId: R505
      summary: "R505: Contact Us Page"
      description: "Show Contacts. Access: PUB"
      tags:
        - "M05: User and Auction Administration and Static pages"

      responses:
        "200":
          description: "Ok. Show Contacts UI"  
  
  /user/{id}/ban:
    put:
      operationId: R506
      summary: "R506: Ban user Action"
      description: "Ban user. Access: MAN"
      tags:
        - "M05: User and Auction Administration and Static pages"
      
      parameters:
        - in: path
          name: id_user
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                isBanned:
                  type: boolean

      responses:
        '302':
          description: 'Redirect after comment removal.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'User Banned Forever! Redirect to homepage'
                  value: '/'
                302Failure:
                  description: 'Failed to ban user. Redirect to user page'
                  value: '/user/{id_user}'

  /reviews/{id}/delete:
    delete:
      operationId: R507
      summary: "R507: Delete review Action"
      description: "Delete review. Access: MAN,USR"
      tags:
        - "M03: Reviews and Watchlist"
        - "M05: User and Auction Administration and Static pages"
      
      parameters:
        - in: path
          name: id_review
          schema:
            type: integer
          required: true

      responses:
        '302':
          description: 'Redirect after review removal.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Review Deleted! Redirect to homepage'
                  value: '/'
                302Failure:
                  description: 'Review Deleted. Redirect to review page'
                  value: '/reviews/{id_review}'
    
  /auction/{id}/delete:
    delete:
      operationId: R508
      summary: "R508: Ban Auction Page"
      description: "Ban Auction page. Access: MAN"
      tags:
        - "M05: User and Auction Administration and Static pages"
      
      parameters:
        - in: path
          name: id_auction
          schema:
            type: integer
          required: true

      responses:
        '302':
          description: 'Redirect after auction edit.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Auction Deleted! Redirect to Home page'
                  value: '/'
                302Failure:
                  description: 'Failed to Delete auction. Redirect to auction page'
                  value: '/auction/{id}'

